body {
    margin: 0px;
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

@font-face {
    font-family: "GillSans";
    src: url("../Fonts/GillSans.ttc") format("truetype");
    font-style: normal;
}

.main_header {
    width: 100%;
}

header > div {
    display: inline-block;
} 

.hero_logo { 
    font-family: "GillSans";
    font-weight: bolder;
    font-size: 2.5rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 4px;
}

.main_nav {
    padding-left: 20rem;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    letter-spacing: 4px;
}

.main_nav a:hover,
.main_nav a:active {
    color: darkgray;
}

.main_nav_items {  
    margin: 0px;
    display: inline-block;
    padding: 0;
    list-style: none;
}

.nav_item {
    font-family: 'GillSans';
    display: inline-block;
    padding: 1rem;
    font-size: 0.9rem;
}

.nav_item a {
    text-decoration: none;
    color: black;
}

.contactSection {
    padding-top: 10rem;
    padding-bottom: 15rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.agency {
    font-family: 'GillSans';
    text-indent: 2px;
    line-height: 1.8;
    letter-spacing: 4px;
}

.personalContact {
    font-family: 'GillSans';
    padding: 5rem;
    text-indent: 2px;
    line-height: 1.8;
    letter-spacing: 4px;

}

@media (max-width: 40rem) {
    body {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main_header {
        width: auto;
        text-align: center;
    }

    .hero_logo { 
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .main_nav {
        padding-left: 0px;
        letter-spacing: 2px;
    }

    .personalContact {
        padding: 0px;
    }

    .contactSection {
        padding-top: 5rem;
    }
}

@media (min-width: 40.1rem) and (max-width: 64rem) {
    body {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main_header {
        width: auto;
        text-align: center;
    }

    .hero_logo { 
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .main_nav {
        padding-left: 0px;
        letter-spacing: 2px;
    }

    .agency {
        padding: 10rem;
    }

    .personalContact {
        padding: 0px;
    }

    .contactSection {
        padding-top: 5rem;
    }
}